* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

body {
  font-family: 'Titillium Web', sans-serif; }

header {
  margin-top: 75px; }

.navbar {
  background-color: #16697a;
  color: #fcfbfa;
  font-weight: bold;
  text-decoration: none; }

#nosotros {
  padding: 50px 0 30px 0;
  margin-top: 40px; }

#portfolio {
  padding: 50px 0 30px 0;
  margin-top: 40px; }

#productos {
  background-color: #d4d3d3;
  padding: 50px 0 30px 0;
  margin-top: 40px; }

#contactenos {
  background-color: #d4d3d3; }

.img-contactenos div > img {
  width: 30px;
  text-align: center; }

footer {
  background-color: #16697a;
  color: #fcfbfa;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  justify-content: center; }
