*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    margin-top: 1vw;
}

.navbar {
    background-color: #16697a;
    color: rgb(252, 251, 250);
    font-weight: bold;
    text-decoration: none;

    .navbar-brand img {
<<<<<<< HEAD
        width: 80px;
        height: 40px;
=======
        width: 85px;
        height: 45px;
>>>>>>> version1
    }
}

.header-content-rigth {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header-content-rigth a img {
    width: 5vw;
    height: 5vw;
    margin-right: 0.8vw;
}

#nosotros {
    padding: 50px 0 30px 0;
    margin-top: 40px;
}

#portfolio {
    padding: 35px 0 15px 0;
    margin-top: 0.8vw;
}
 #galeria .col-lg-4 .col-md-4 .col-sm-12{
    margin: 0 !important;
    padding: 2vh;
 }

 #galeria img {
     width: 100%;
     height: 60vh;
 }

 #galeria img:hover {
     border: 5px solid #f7f7f7;
 }

#contactenos {
    padding: 20px 0 5px 0;
    margin-top: 0.5vw;
>>>>>>> version1
}
.img-contactenos div > img {
    width: 10vw;
    text-align: center;
}

.articulo {
    padding: 10px 0 0.5px 0;
    margin-top: 3vw;
    text-align: center;
    background-color: #fae0df;
    
    span {
        font-weight: bold;
        color: black;
        font-style: italic;
    }
}

.carousel-item img {
    height: 35vw;
}

.redes-sociales {
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.redes-sociales a img {
    width: 5vw;
    height: 5vw;
    margin-right: 0.8vw;
    
}


footer {
    background-color: #16697a;
    color: rgb(252, 251, 250);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}

